@import '~@/styles/variables.scss';
.earing-search {
  padding: 24px 0;
  border-bottom: 1px solid $under_line;
}
.date-chart {
  padding: 24px 0;
  border-bottom: 1px solid $under_line;
}
.chart-title {
  padding-bottom: 24px;
  font-weight: 500;
}
.legend {
  text-align: center;
  margin: 16px auto 0;
  font-size: 12px;
  color: #ffb300;
  .legend-earing {
    display: inline-block;
    width: 24px;
    height: 2px;
    background: #ffb300;
    margin-bottom: 4px;
    margin-right: 8px;
  }
  .legend-order {
    margin-left: 20px;
    background: #1890ff;
    margin-bottom: 4px;
    margin-right: 8px;
  }
}
