$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;
$appMianBg: #f6f6f6;
//sidebar
$menuText: #ef5657;
$activeBg: #fff0f0;

$border-line: #d9d9d9; //边框线
$text-title: #171a2e; //文字
$regbg: #fffcfc; //注册背景色
$under_line: #e8e8e8;
